.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
}

.wrapper > form {
    background-color: #2d4f70;
    margin: auto;
    padding: 30px 20px;
    max-width: 350px;
    width: 100%;
    display: grid;
    gap: 15px;
    border-radius: 15px;
    border: 1px solid black;
}